{{#each reportDetails.data}}
	<div class="tr">
		<div class="td">
			{{#equal userData.userId 0 }}
				Anonymous
			{{else}}
				{{ userName.userId }}
				{{#unless userName.role }}
					{{emptyStrInNbsp userName.lastName }}
				{{/unless}}

			{{/equal}}
		</div>
		{{#unless userName.role }}
			<div class="td">
				{{#equal userData.userId 0 }}
					n/a
				{{else}}
					{{emptyStrInNbsp userName.firstName}}
				{{/equal}}
			</div>
		{{/unless}}


	</div>
{{/each}}
