<div class="compare-by icad-block">

	<div class="title">
		Compare different activities
	</div>

	<form id="compare-request-form" class="compare-request-form">
		<div class="compare-request-form__items">
			<div class="item-wrapper {{ reportModel.errors.market.class }}">
				<select id="select-market" class="custom-select js-custom-select" name="market">
					<option value="">Choose a market</option>
					{{#each formData.select_market }}
						<option value="{{value}}" {{selected}}>{{name}}</option>
					{{/each}}
				</select>
				{{#if reportModel.errors.market.msg }}
					<div class="error-msg js-error-msg">{{ reportModel.errors.market.msg }}</div>
				{{/if}}
			</div>
			<div class="item-wrapper {{ reportModel.errors.activity.class }}">
				<select id="select-activity" class="custom-select js-custom-select-multiple" name="activity[]" data-text="Choose activities" multiple>
					{{#each formData.select_activity }}
						<option value="{{value}}" title="{{name}}">{{name}}</option>
					{{/each}}
				</select>
				<div class="multiple-select-list" data-disabled-by="#select-activity"></div>
				{{#if reportModel.errors.activity.msg }}
					<div class="error-msg js-error-msg">{{ reportModel.errors.activity.msg }}</div>
				{{/if}}
			</div>
		</div>

		<!-- jQuery UI datePicker goes here -->
		{{{ datePicker }}}

		<div class="compare-request-form__buttons">
			<a class="simple-link" href="#dashboard">Back to overview</a>
			<input type="submit" class="butn btn-blue" id="send-request" value="Request"
				   data-disabled-by="#select-market,#select-activity,#start-date,#end-date" />
		</div>
	</form>
</div>


