<div class="reporting__period">
	<p class="reporting__period-title">
		Compare activity by FMM:
		{{ reportModel.marketName }} | {{ reportModel.activityName }}
		{{#if reportModel.fmmName }}
			|  FMM - {{ reportModel.fmmName }}
		{{/if}}
	</p>
	<p class="reporting__period-value">
		<span><b>From: </b>w{{ getWeek reportModel.requestObj.startDate }}  {{ dateReplaceDotOnSlash reportModel.requestObj.startDate }}</span>
		<span><b>To:   </b>w{{ getWeek reportModel.requestObj.endDate }} {{ dateReplaceDotOnSlash reportModel.requestObj.endDate }}</span>
	</p>
</div>
